
h3{
    font-size: 30px;
    color:#ca5d87;
    text-align:center;
}
.text{
    display:flex;
    justify-content: center;
    text-align: center;
    
}
.style{
    width: 280px;margin: 15px;
    background-color: #ffcccc;
    cursor: pointer;
}
.frame{
    display: flex;
}
.showtime{
    flex:none;
    justify-content: right;
}